<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="usersDao" class="com.accp.dao.impl.UsersDaoImpl">
            <property name="hibernateTemplate" ref="trMagger"></property>
        </bean>
    <bean id="usersService" class="com.accp.service.impl.UsersServiceImpl">
        <property name="usersDao" ref="usersDao"></property>
    </bean>
    <bean id="usersAction" class="com.accp.action.UsersAction">
        <property name="usersService" ref="usersService"></property>
    </bean>

</beans>