<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.current_session_context_class">thread</property>
      <property name="connection.url">jdbc:mysql://localhost:3306</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.accp.pojo.Car"/>
      <mapping resource="configs/mapping/Car.hbm.xml"/>
      <mapping class="com.accp.pojo.Carstate"/>
      <mapping resource="configs/mapping/Carstate.hbm.xml"/>
      <mapping class="com.accp.pojo.Cartype"/>
      <mapping resource="configs/mapping/Cartype.hbm.xml"/>
      <mapping class="com.accp.pojo.City"/>
      <mapping resource="configs/mapping/City.hbm.xml"/>
      <mapping class="com.accp.pojo.Deliveryspot"/>
      <mapping resource="configs/mapping/Deliveryspot.hbm.xml"/>
      <mapping class="com.accp.pojo.Employee"/>
      <mapping resource="configs/mapping/Employee.hbm.xml"/>
      <mapping class="com.accp.pojo.Line"/>
      <mapping resource="configs/mapping/Line.hbm.xml"/>
      <mapping class="com.accp.pojo.Linetaile"/>
      <mapping resource="configs/mapping/Linetaile.hbm.xml"/>
      <mapping class="com.accp.pojo.Orders"/>
      <mapping resource="configs/mapping/Orders.hbm.xml"/>
      <mapping class="com.accp.pojo.Orderstate"/>
      <mapping resource="configs/mapping/Orderstate.hbm.xml"/>
      <mapping resource="configs/mapping/Positions.hbm.xml"/>
      <mapping class="com.accp.pojo.Positions"/>
      <mapping class="com.accp.pojo.Power"/>
      <mapping resource="configs/mapping/Power.hbm.xml"/>
      <mapping class="com.accp.pojo.Province"/>
      <mapping resource="configs/mapping/Province.hbm.xml"/>
      <mapping class="com.accp.pojo.Receipt"/>
      <mapping resource="configs/mapping/Receipt.hbm.xml"/>
      <mapping class="com.accp.pojo.Receiptdetaile"/>
      <mapping resource="configs/mapping/Receiptdetaile.hbm.xml"/>
      <mapping class="com.accp.pojo.Users"/>
      <mapping resource="configs/mapping/Users.hbm.xml"/>
      <mapping class="com.accp.pojo.Waybill"/>
      <mapping resource="configs/mapping/Waybill.hbm.xml"/>
  </session-factory>
</hibernate-configuration>